<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>정리창</title>
</head>
<body>
<form th:action="@{'/post/edit/' + ${devjournalDto.id}}" method="post">
    <input type="hidden" name="_method" value="put"/>
    <input type="hidden" name="id" th:value="${devjournalDto.id}"/>

    <p>제목<br>
        <input type="text" name="title" th:value="${devjournalDto.title}"> <br>
    </p>
    <p>느낀점<br>
        <input type="text" name="emotion" th:value="${devjournalDto.emotion}"> <br>
    </p>
    <p>궁금한 점<br>
        <input type="text" name="curiosity" th:value="${devjournalDto.curiosity}"> <br>
    </p>
    <p>개선할 점<br>
        <input type="text" name="improvement" th:value="${devjournalDto.improvement}"> <br>
    </p>
    <p>문제점<br>
        <input type="text" name="problem" th:value="${devjournalDto.problem}"> <br>
    </p>

    <input type="submit" value="수정">
</form>
</body>
</html>