<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>정리창</title>

    <link rel="stylesheet" th:href="@{/css/devjournal.css}">
</head>
<body>
<!-- HEADER -->
<div th:insert="common/header.html" id="header"></div>

<a th:href="@{/post}">쓰기</a>

<table>
    <thead>
    <tr>
        <th class="ten wide">제목</th>
    </tr>
    </thead>

    <tbody>
    <!-- CONTENTS !-->
    <tr th:each="devjournal : ${devjournalList}">
        <td>
            <a th:href="@{'/post/' + ${devjournal.id}}">
                <span th:text="${devjournal.title}"></span>
            </a>
        </td>
    </tr>
    </tbody>
</table>

<!-- FOOTER -->
<div th:insert="common/footer.html" id="footer"></div>
</body>
</html>